# Rust
/target/
**/*.rs.bk
.theos/
packages/

# macOS
.DS_Store
DerivedData/
*.xcuserstate
xcuserdata/

# Windows / Visual Studio
.vs/
*.user
*.suo
*.VC.db
x64/
Debug/
Release/

# Local settings
.env
.env.*
!.env.example
